In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

%matplotlib inline

In [2]:
# our engine
def catanSim(turns):
    gameRolls = []
    for i in xrange(turns):
        dieRoll = np.random.randint(1,7)+np.random.randint(1,7)
        gameRolls.append(dieRoll)
    counts = Counter(gameRolls)
    
    gameProbs = {}
    for i in counts: 
        gameProbs[i] = float(counts[i])/float(turns)
        
    return gameProbs

In [3]:
#what fires the engine many, many times
def monteCarlo(iterations = 10000, turns = 60):
    # instantiating our dataDict
    simResults = {}
    for i in xrange(2,13):
        simResults[i] = []
        
    # running our "games" 
    for i in xrange(iterations):
        oneGame = catanSim(turns) 

        for i in xrange(2,13):
            simResults[i].append(oneGame.get(i,0))
    
    #putting into a dataframe b/c I'm lazy and like the built-in stats 
    df = pd.DataFrame()
    for i in simResults:
        df[i] = simResults[i]
    
    return turns, df

In [23]:
turns, results = monteCarlo(100000,60)
results.describe()

,2,3,4,5,6,7,8,9,10,11,12
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,0.027869,0.055572,0.083308,0.111151,0.138790,0.166314,0.138999,0.111239,0.083418,0.055531,0.027810
std,0.021302,0.029584,0.035745,0.040514,0.044660,0.048126,0.044614,0.040528,0.035660,0.029544,0.021216
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.016667,0.033333,0.050000,0.083333,0.100000,0.133333,0.100000,0.083333,0.050000,0.033333,0.016667
50%,0.033333,0.050000,0.083333,0.116667,0.133333,0.166667,0.133333,0.116667,0.083333,0.050000,0.033333
75%,0.033333,0.066667,0.100000,0.133333,0.166667,0.200000,0.166667,0.133333,0.100000,0.066667,0.033333
max,0.166667,0.216667,0.266667,0.316667,0.350000,0.400000,0.333333,0.300000,0.283333,0.233333,0.183333

In [7]:
len(results.values[0])

11

In [29]:
count1, count2 = 0, 0
for row in results.values:
    if row[10] > row[6]:
        count1 +=1
    if row[6] < row[10]:
        count2 +=1

In [25]:
count1/10000.

0.0662

In [30]:
count3, count4 = 0, 0
for row in results.values:
    if row[0] > row[6]:
        count3 +=1
    if row[6] < row[0]:
        count4 +=1

In [31]:
count1

662

In [32]:
count3

709